:root {
	--link-color: #fff;
	--aside-background-color: #fff;
	--link-color-hover: #ff6c00;
	--social-link-color: #000;
	--heading-font-family: "Raleway", sans-serif;
	--text-font-family: "Open Sans", sans-serif;
}

* {
	font-family: var(--text-font-family);
}

.global-header {
	background: #191c2633;
	display: flex;
}

.global-header .main-nav a,
.global-header .main-nav a:visited {
	color: var(--link-color);
	font-weight: 600;
}

ul {
	list-style-type: none;
}

.global-header .main-nav a:hover {
	color: var(--link-color-hover);
	cursor: pointer;
}

a {
	text-decoration: none;
}

.social-section a,
.social-section a:visited {
	color: var(--social-link-color);
	font-weight: 600;
	display: flex;
	flex-direction: column;
}

.global-header .contact,
.global-header .contact:visited {
	color: var(--link-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--heading-font-family);
	font-weight: 700;
}

.hero-section .hero-title {
	color: var(--link-color);
}

.hero-section {
	background-color: gray;
}

.button-service {
	background: transparent;
	text-transform: uppercase;
	border-radius: 25px;
	border: 1px solid var(--link-color-hover);
	color: var(--link-color);
	line-height: 16.34px;
	padding: 12px;
}

.aside-container {
	background: var(--aside-background-color);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
